.date-pickers .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.date-pickers .fade-enter, .fade-leave-to{
  opacity: 0;
}
.date-pickers .cur-date{
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
	width: 192px;
	border-radius: 0;
	border: 1px solid #ccc;
}
.date-pickers .cur-date:focus{
	border-color: #3C99FC;
}
.date-pickers{
	position: relative;
}
.date-pickers .month-picker{
	width: 276px;
	height: 230px;
	border: 1px solid #ccc;
	color: #333;
	background: #fff;
	position: absolute;
	left: 0;
	top: 33px;
}
.month-picker .pre-arrow,
.month-picker .next-arrow{
	cusor: pointer;
	position: absolute;
	top: 18px;
	color: #aaa;
	border: 0;
	background: none;
}
.date-pickers .pre-arrow{
	left: 18px;
}
.date-pickers .next-arrow{
	right: 18px;
}
.year-month{
	width: 100%;
	text-align: center;
	padding-top: 15px;
}
.year-month .choose-year{
	font-size: 16px;
	cursor: pointer;
}
.date-pickers .fade-enter-active, .date-pickerss .fade-leave-active {
    transition: all 0.5s; 
}
.date-pickers .fade-enter, .date-pickerss .fade-leave-active {
    opacity: 0;
    transform: translateY(-10px); 
}
.date-pickers .month{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #333;
	margin: 10px 10px;
	cursor: pointer;
}
.date-pickers .years{
	display: block;
	width: 55px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	font-size: 14px;
	color: #333;
	margin: 10px 2px;
	cursor: pointer;
}
.date-pickers .years:hover,
.date-pickers .month:hover,
.date-pickers .years.active,
.date-pickers .month:active{
	background-color: #6AA4F5;
	color: #fff;
}
.date-pickers .day-screen{
	padding: 0 18px;
}
.date-pickers .month-cont,
.date-pickers .year-cont{
	clear: both;
	overflow: hidden;
}